// calculate padding, width, etc. according to wrapper__inner width without padding
// improve: extract return as function

$wrapper-padding: 42px;
$wrapper-padding-sm: 22px;
$wrapper-inner-width: 970px;
$wrapper-inner-width-lg: 1035px;
$wrapper-width: $wrapper-inner-width + ($wrapper-padding * 2);
$wrapper-width-lg: $wrapper-inner-width-lg + ($wrapper-padding * 2);

@function wrap-calc(
  $values,
  $container-width: $wrapper-width - ($wrapper-padding * 2)
) {
  $newValues: ();
  $count: length($values);

  @if $count == 1 {
    @return (strip-unit($values) * 100%) / strip-unit($container-width);
  }

  @for $i from 1 through $count {
    $newValues: append(
      $newValues,
      (strip-unit(nth($values, $i)) * 100) / strip-unit($container-width)
    );
  }

  @return $newValues;
}
